@media(max-width:480px ) {
  .heading {
    font-size:45px;
    
  }
  
  table, tr, th, td {
    padding:10px;
    font-size:12px;
    
  }
  
  .main {
    font-size:12px;
    margin:5px;
    padding:5px;
  }
    
  .table img {
    height:12px;
    width:12px;
  }
  
  .table span {
    padding:5px;
    margin:5px;
  }
}
  

  
