@media(max-width:480px ) {
  .heading {
    font-size:45px;
    
  }
  
  table {
    width:75%;
    font-size:12px;
    
  }
  
  .main {
    font-size:12px;
    margin:5px;
    padding:5px;
  }
    
}
  

  
